.about-container{
    background-color: white;
}
.year-heading{
    -webkit-text-stroke: 1px #fc8500;
    color: transparent;
    font-size: 90px;
    text-align: center;
    padding: 20px 0; 
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.arrow-icon{
    flex: 1;
    text-align: center;
}
.arrow-sizing {
  width: 380px;
  height: 380px;
}
.about-text-content{
    color: black;
    flex: 1;
    padding: 10px 15px;
}
.about-compnay-name{
    color: #fc8500;
    width: 100%;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
        padding: 10px 0;
}
.about-sub-title{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
}
.about-description{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.589);        
    padding: 10px 0;
    line-height: 30px;
}
.about-link{
    display: flex;
    color: #fc8500;
    padding: 10px 0;
}


/* tablet*/

@media only screen and (min-width: 581px) and (max-width: 768px) {
    .year-heading{
        font-size: 52px;
    }
    .arrow-sizing {
        width: 280px;
        height: 280px;
    }
    .about-text-content{
        padding: 5px 15px;
    }
    .about-compnay-name{
        font-size: 14px;

    }
    .about-title{
        font-size: 28px;
        text-align: center;
    }
    .about-sub-title{
        font-size: 15px;
        
    }
    .about-description{
        font-size: 13px;
        line-height: 16px;
    }
    .about-link{
        display: flex;
        align-items: center;
    font-size: 14px;
    }
    .about-link-icon{
        height: 18px;
    }
}
/* Mobile and lil small tablet (<= 580px) */
@media only screen and (max-width: 580px) {
    .year-heading{
        font-size: 52px;
    }
    .arrow-icon{
    display: none;
    }
    .about-text-content{
        padding: 5px 15px;
    }
    .about-compnay-name{
        font-size: 14px;
        text-align: center;
    }
    .about-title{
        font-size: 28px;
        text-align: center;
    }
    .about-sub-title{
        font-size: 15px;
        text-align: center;
    }
    .about-description{
        font-size: 13px;
        line-height: 16px;
        text-align: center;
    }
    .about-link{
        display: flex;
        align-items: center;
    font-size: 14px;
    }
    .about-link-icon{
        height: 18px;
    }
}