.about-container{
    background-color: white;
}
.year-heading{
    -webkit-text-stroke: 1px #fc8500;
    color: transparent;
    font-size: 90px;
    text-align: center;
    padding: 20px 0; 
}
.about-content{
    display: flex;
    align-items: center;
    gap: 30px;

}
.arrow-icon{
    color: #fc8500;
    font-weight: 100;
    width: 100%;
}
.about-text-content{
    color: black;
}
.about-compnay-name{
    color: #fc8500;
    width: 100%;
}
.about-title{
    font-size: 40px;
    font-weight: 600;
        padding: 10px 0;
}
.about-sub-title{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
}
.about-description{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.589);        
    padding: 10px 0;
    line-height: 30px;
}
.about-link{
    display: flex;
    color: #fc8500;
    padding: 10px 0;
}