.ProjectsSection{
    background-color:white;
    color: black;
}
.projectsHeader{
clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 85%);
  height: 90vh;
  background:  linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
   url(../../assets/projectsBanner.jpg) no-repeat;
   background-position: center;
  background-attachment:initial;
  background-size: cover;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.Sliders h2{
  margin: 10px 20px ;
  border-left: 5px solid #fc8500;
  padding-left: 10px;
}



@media only screen and  (max-width: 768px) {
  .projectsHeader{
    height: 600px;
    background-position:initial;
    background-size: cover;
  }
  .projectsHeader h1{
    font-size: 32px;
  }

}
/* Mobile (<= 480px) */
@media only screen and (max-width: 427px) {
  .projectsHeader{
    height: 350px;
    background-position:initial;
    background-size: cover;
  }

  .projectsHeader h1{
    font-size: 26px;
  }
  .iconSection img{
    width: 150px;
  }

}