.service-card {
  width: 325px;
  position: relative;
  filter: grayscale(100%);
  transition: all 0.4s ease;
  cursor: pointer;
}
.service-card:hover {
  filter: grayscale(0);
  transform: translateY(-10px);
}
.service-card-number {
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  z-index: 3;
  text-shadow: 4px 5px #bbb;
}
.service-card:hover .service-card-number {
  color: #fc8500;
  text-shadow: 4px 5px #fff;
}
.service-card-image {
  width: 100%;
  object-fit:cover;
  position: absolute;
  top: 50px;
  box-shadow: 5px 5px 10px #3a3a39;
}
.service-card-content {
  width: inherit;
  position: absolute;
  bottom: 0;
  z-index: 3;
  background-color: #3a3a39;
  height: 50px;
  padding: 10px 25px;
  transition: all 0.5s ease;
}

.service-card:hover .service-card-content {
  height: 100px;
  background-color: #fc8500;
}

.service-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-size: 20px;
  font-weight: 700;
}

.service-card-description {
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.service-card:hover .service-card-icon {
  transform: rotate(90deg);
  transition: all 0.5s ease-in-out;
}

.service-card:hover .service-card-description {
  opacity: 1;
}


/* Desktop (> 1024px) */
@media only screen and (min-width: 1025px) {
  .service-card {
    width: 325px;
    height: 450px;
    overflow: hidden;
  }

  .service-card-image {
    height: 70vh;
  }

}

/* Laptop (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .service-card {
    height: 100%;
  }

  .service-card-image {
    height: 60vh;
  }

}

/* Tablet (427px - 768px) */
@media only screen and (min-width: 427px) and (max-width: 768px) {
  .service-card {
    height: 100%;
  }
  .service-card-image {
    height:40vh;
  }

}

/* Mobile (<= 426px) */
@media only screen and (max-width: 426px) {
  .service-card {
    height: 100%;
  }
  .service-card-image {
    height: 40vh;
  }
}
