.manufacturing-process-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0; /* optional spacing */
  background-color: #e1e6e9; /* optional background */

}
.manufacturing-process-text{
    padding: 50px 40px;
}
.manufacturing-process-first-title{
    color:#fc8500;
}
.manufacturing-process-second-title{
    color: black;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px ;
}
.manufacturing-process-slider {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: grab;
}



/* Large Screen Desktop */
@media only screen and (min-width: 1025px) {

}
/* Laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px){

}
/* Tablet  */
@media only screen and (min-width: 427px) and (max-width: 768px) {

}
/* Mobile (<= 480px) */
@media only screen and (max-width: 426px) {
  .manufacturing-process-first-title{
    font-size: 15px;
  }
  .manufacturing-process-second-title{
    font-size: 21px;
    line-height: 28px;
  }
}