.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#0a0922;
    padding: 12px 2%;
}
.header-left-section{
    display: flex;
align-items:center;
    color: #fff;
    gap: 20px;
}
.header-left-section>img{
    width: 100px;
}
.header-text-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#header-title {
  font-size: 35px;
  font-weight: 800;
}
.heading{
    color:#FC8500;

}
#header-sub-title {
  font-size: 19px;
  font-weight: bold;
}
#header-sub-title span{
    background-color: #eee;
    color: #333;
    padding: 5px 6px;
    border-radius: 4px;
    font-size: 12px;
}

#header-address {
  font-size: 15px;
  font-weight: bold;
  color: #ddd;
}
.header-right-section {
    display: flex;
    align-items: center;
    justify-content: end;

    color: #fff;
    font-size: 12px;
    gap: 10px;
    font-weight: 900; 
} 
.header-icons
{
    color:#FC8500;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}


/* Large Screen Desktop */
@media only screen and (min-width: 1025px) {
  #header-title{
    font-size: 38px;
  }
}
/* laptops */
@media only screen and (min-width: 769px) and (max-width: 1114px){
  .header-container{
    flex-wrap: unset;
  }

  .header-left-section{
    gap: 9px;
  }
  #header-title{
    font-size: 17px;
    margin-bottom: -10px;
  }
  #header-logo{
    width: 46px; 
  }
  #header-sub-title span{
    font-size: 7px ;
    padding: 4px 5px ;
  }
  #header-address{
    font-size: 8px;
  }
  .header-icons ,.icons {
    font-size: 8px;
    height: 12px;
    gap: 0px;
  }
  .header-right-section{
    gap: 5px;
  }
}

/* Tablet  */
@media only screen and (min-width: 428px) and (max-width: 768px) {
  .header-container{
    flex-wrap: unset;
  }
  .header-left-section{
    gap: 9px;
  }
    #header-title{
    font-size: 14px;
    margin-bottom: -10px;
  }
  #header-logo{
    width: 40px; 
  }
  #header-sub-title span{
    font-size: 6px ;
    padding: 3px 5px ;
  }
  #header-address{
    font-size: 6px;
  }
  .header-icons ,.icons {
    font-size: 6px;
    height: 8px;
    gap: 0px;
  }
  .header-right-section{
    gap: 1px;
  }

}
/* Mobile (<= 480px) */
@media only screen and (max-width: 427px) {
  .header-container{
    flex-wrap: unset;
  }
  .header-left-section{
    gap: 5px;
  }
  #header-title{
    font-size: 10px;
    margin-bottom: -10px;
  }
  #header-logo{
    width: 32px; 
  }
  #header-sub-title span{
    font-size: 4px ;
    padding: 4px ;
  }
  #header-address{
    font-size: 4px;
  }
  .header-icons ,.icons {
    font-size: 4px;
    height: 8px;
    gap: 0px;
  }
  .header-icons p{
    display: none;
  }
  .header-right-section{
    gap: 5px;
  }

}
